<div class = "container">
  <hr>
  <div class = "container-columns">

    <div class = "footer-misc">
      <!--      <h4>GTA Tools</h4>-->
      <p>GTA Tools offers new and used tools for sale or rent. We’re here to help you with all of your tool needs. Rent
         the Right Equipment to Complete your Project. We will help you to make the right choice for your need. We offer
         the lowest prices that vary based on the type of tool. Please check the website for details. You will need a
         government-issued photo ID such as a driver’s license or passport. Cash only. No debit cards or credit cards
         will be accepted at the time of rental; The security deposit is required in order to rent equipment. We will
         ensure the tool works properly before you leave the store.</p>
      <ul>

        <li>© 2020 GTA Tools. All rights reserved.  </li>
        <li>by New Web Developers.</li>

      </ul>
    </div>
  </div>
</div>
