<div class = "container">
  <hr>
  <div class = "container-columns">
    <div class = "footer-links">
      <h4>Links</h4>
      <ul>
        <li><a href = "#">Facebook</a></li>
        <li><a href = "#">Instagram</a></li>
        <li><a href = "#">Twitter</a></li>
      </ul>
    </div>

    <div class = "footer-contacts">
      <h4>Contacts</h4>
      <ul>
        <li>Cell: 999-999-9999</li>
        <li>E-mail: xxxxxxx@xxxx.xx</li>
      </ul>
    </div>

    <div class = "footer-misc">
      <ul>
        <h4>GTA Tools</h4>
        <li>© 2020</li>
        <li>by New Web Inc.</li>
        <li>All rights reserved</li>
      </ul>
    </div>
  </div>
</div>
