<div class = "container">
  <p class = "overflow-visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-clip">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-string">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<p>With extensive storage space of 27 quarts, 5 days ice retention, and IP65 rating for protection against water and
   dust, this DEWALT® ToughSystem® Cooler keeps beverages ice-cold and refreshing, no matter the external
   conditions. </p>
<ul>
  <li>27 quarts of space</li>
  <li>5 days ice retention with commercial grade PU foam insulation and a freezer-style lid gasket</li>
  <li>IP65 approved for water and dust resistance</li>
  <li>Load capacity of 88 lbs.</li>
  <li>Integrated bottle opener and 2 lid can holders</li>
  <li>Compatible with ToughSystem® Carrier, Van Racking, and Workshop Racking systems using side handles</li>
  <li>For more questions about this product, please Contact Us</li>
</ul>

