<div class = "container">
  <p class = "overflow-visible">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-clip">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-ellipsis">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
  <p class = "overflow-string">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
</div>

<p>The 20V MAX* Brushless Handheld Blower provides the ability to clear debris with an air volume of up to 450 cubic
   feet per minute and up to 125 miles per hour with the concentrator nozzle. With a lightweight and ergonomic
   design</p>
<ul>
  <li>Up to 450 CFM of air volume and up to 125 Mph with concentrator</li>
  <li>Innovative axial fan design that maximizes on air output and run time</li>
  <li>Low noise during operation - 66 dB(A), ideal for noise sensitive regions and properties</li>
  <li>High-efficiency brushless motor helps extend run time and motor life</li>
  <li>Lightweight and ergonomic design allows for easy control and arm movement</li>
  <li>Variable trigger and speed lock for precise power control</li>
</ul>
