<div class = "container">

  <div class = "header-container">
    <h1>{{tool?.title}}</h1>
  </div>

  <div class = "price-container">
    <h1>${{tool?.price}} CAD</h1>
    <button (click) = "toggleContact()">
      <mat-icon>contact_mail</mat-icon> &nbsp;Contact seller
    </button>
  </div>

  <div class = "contact-container" [@expandContact] = "isOpen ? 'openContactContainer' : 'closeContactContainer'">
    <form action = "" [formGroup] = "emailForm" class = "contact-form" (ngSubmit)="sendMail()">
      <!-- [@expandContact]="isOpen ? 'expanded' : 'collapsed'" -->
      <label>Your name</label>
      <input formControlName = "name" type = "text" name = "name" required = "required">
      <label>Your email</label>
      <input formControlName = "email" type = "email" name = "email" required = "required">
      <label>Your message</label>
      <textarea cols = "30" formControlName = "message" rows = "10" required = "required"></textarea>
      <div>
        <button type="submit" [disabled] = "!emailForm.valid">
          <mat-icon>send</mat-icon>&nbsp; Send mail
        </button>
      </div>
    </form>
  </div>

  <div class = "images-container">

    <div class = "main-img-container">
      <img src = "{{tool?.photos[index].photoLarge}}" alt = "">
    </div>

    <div class = "small-img-container">
      <mat-icon (click) = "prevImage()">arrow_back_ios</mat-icon>
      <img *ngFor = "let photo of tool?.photos" src = "{{photo.photoSmall}}" alt = "">
      <mat-icon (click) = "nextImage()">arrow_forward_ios</mat-icon>
    </div>
  </div>

  <hr>

  <div class = "details-container">
    <h2>Details</h2>
    <div [innerHTML] = "tool?.description"></div>
  </div>

  <div class = "tech-details-container">
    <p>
      <mat-icon>today</mat-icon>
      Posted on: {{tool?.postDate | date: 'short'}}</p>
    <p>
      <mat-icon>visibility</mat-icon>
      Views: {{tool?.views}}</p>
  </div>

</div>

