.container {

  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  background-color: rgba(43, 43, 43, 0.6);
  transition: 0.3s;
  min-width: 475px;
  width: 90%;
  max-width: 1300px;
}

.admin-tools {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  color: red;
  width: 90%;

}

.new-tool-btn {
  display: flex;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  float: right;
  transition: 0.4s;
}

.new-tool-btn:hover {
  background-color: #42A948;
}

.table-btn {
  width: 50px;
  /*padding: 5px 15px;*/
  margin: 15px;
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.4s;
}

.table-btn:hover {
  background-color: #42A948;
}

table {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto 20px auto;
  width: 98%;
}

.mat-header-cell {
  font-size: 1em;
  text-align: center;
}


.mat-cell:nth-child(2), :nth-child(3){
  text-align: center;
}

.mat-cell:nth-child(4) {
  text-align: right;
}

.mat-cell:nth-child(1) {
  text-align: left;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: #2b2b2b;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background-color: #2b2b2b;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  background-color: #2b2b2b;
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  padding: 16px;
}

.example-element-img {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  text-align: center;
  width: 100%;
  height: auto;
}

.example-element-img img {
  text-align: center;
  display: inline-block;
  margin: 8px;
  padding: 8px;
  min-width: 80px;
  max-width: 100px;

}

.example-element-description-attribution {
  opacity: 0.5;
}

@media only screen and (max-width: 680px) {
  .container {
    min-width: 0;
    width: 100%;
  }

  .btn-label {
    display: none;
  }
}
