.container {
  margin: 0 auto;
  width: 90%;
  max-width: 1300px;
}

.new-tool-btn {
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  margin-bottom: 20px;
  float: right;
}

.table-btn {
  width: 70px;
  padding: 5px 15px;
  margin: 15px;
  text-decoration: none;
  background-color: green;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background-color: #2b2b2b;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background-color: #2b2b2b;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  background-color: #2b2b2b;
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
