.container {
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 auto;
  background-color: rgba(43, 43, 43, 0.6);
  transition: 0.3s;
  min-width: 475px;

  width: 90%;
  max-width: 1300px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.newToolForm {
  display: flex;
  flex-flow: column;
  flex-wrap: wrap;

}

.container-contacts {
  margin: 50px;
}

h2 {
  margin-left: 50px;
  margin-top: 50px;
}

input[type=text], input[type=number], select, textarea {
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  background-color: #c5c5c5;
  border-radius: 5px;
  resize: vertical;
}

input[type=file] {
  color: #000;
  margin-top: 6px;
  margin-bottom: 20px;
  padding: 12px;
  border: none;
  background-color: #c5c5c5;
  border-radius: 5px;
  resize: vertical;
}

.ng-valid[required], .ng-valid.required, .ng-valid.minLength {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

button {
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
  float: right;
}

.text-danger{
  display: inline;
}
.warning {
  display: inline;
  color: orange;
}
.tooltip{
  display: inline;
}

button:disabled {
  background-color: rgba(0, 54, 0, 0.7);
  color: #747474;
  cursor: default;
}

@media only screen and (max-width: 680px) {
  .container {
    min-width: 0;
    width: 90%;
  }

  .container-contacts {
    margin: 15px;
  }

}
