<div class = "container">
  <h3>Categories</h3>
  <hr>
  <ul>
    <li><a href = "#">Drills</a></li>
    <mat-divider></mat-divider>
    <li><a href = "#">Jig Saw</a></li>
    <mat-divider></mat-divider>
    <li><a href = "#">Grinders</a></li>
    <mat-divider></mat-divider>
    <li><a href = "#">Hammer Drills</a></li>
    <mat-divider></mat-divider>
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span class="drop-head">Outdoor Equipment</span>
        </mat-expansion-panel-header>
        <ul>
          <li><a href = "">Blowers</a></li>
          <li><a href = "">Power Cutters</a></li>
          <li><a href = "">Chainsaws</a></li>
          <li><a href = "">Lawn Movers</a></li>
        </ul>
      </mat-expansion-panel>
      <mat-divider></mat-divider>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <span class="drop-head">Fasteners</span>
        </mat-expansion-panel-header>

        <ul>
          <li><a href = "">Tape</a></li>
          <li><a href = "">Nails</a></li>
          <li><a href = "">Screws</a></li>
          <li><a href = "">Staples</a></li>
        </ul>
      </mat-expansion-panel>
    </mat-accordion>
    <mat-divider></mat-divider>
    <li><a href = "#">Circular Saw</a></li>
    <mat-divider></mat-divider>
    <li><a href = "#">Cut-Out-Tools</a></li>
    <mat-divider></mat-divider>
    <li><a href = "#">Jobsite Storage</a></li>
  </ul>
</div>

