<div class = "container" [routerLink] = "['/tool', tool._id]">

  <div>
    <img src = "{{tool.photos[0].photoSmall}}" alt = "">
  </div>

  <div class = "record-details">

    <div>
      <h1>{{tool.title}}</h1>
    </div>

    <div>
      <H1>${{tool.price}}</H1>
    </div>
    <hr>
    <div>
      <H3><span [ngStyle] = "{'color': tool.quantity > 2 ? 'green' : 'red'}">{{tool.quantity}}</span> in stock</H3>
       {{tool.postDate | date: 'mediumDate'}}
    </div>


    <div class = "description" [innerHTML]="tool.description"></div>
    <!--    <span class = "details-link"><a [routerLink] = "['/tool', tool._id]">Details...</a></span>-->
  </div>
</div>
