<div class = "container">
  <div>
    <a href = "#"><img src = "{{tool.photos[0].photoSmall}}" alt = ""></a>
  </div>
  <div class = "record-details">
    <div>
      <p style = "float: right">{{tool.postDate | date: 'medium'}}</p>
    </div>
    <h2><a href = "#">{{tool.title}}</a></h2>
    <H4>Price: {{tool.price}}$</H4>
    <H3><span [ngStyle] = "{'color': tool.quantity > 2 ? 'green' : 'red'}">{{tool.quantity}}</span> left</H3>
    <p>
      {{tool.description}}
    </p>
    <span class = "details-link"><a href = "">Details...</a></span>
  </div>
</div>
