<div class = "nav-container">
  <div class = "logo-container">
    <h3>GTA Tools</h3>
  </div>
  <ul>
    <li><a routerLink = "/home">Home</a></li>
    <li><a routerLink = "/contacts">Contacts</a></li>
    <li><a routerLink = "/about">About</a></li>
    <li><a routerLink = "/admin/newTool">Admin</a></li>
  </ul>
  <div class = "search-container">
    <input class = "search-input" type = "text" placeholder = "Search">
    <button class = "btn-search">Search</button>
  </div>
</div>
<div class = "main-container">
  <div>
    <app-categories></app-categories>
  </div>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>

<div class="footer">
  <app-footer></app-footer>
</div>


