* {
  color: white;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 2em;
}

.main-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% 1fr;
  max-width: 1300px;
}

@media only screen and (max-width: 1060px) {
  .main-container {
    display: grid;
    grid-template-columns: 1fr;
  }
}

