.dialog-container{
  display: flex !important;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dialog-container div:nth-child(1){
  display: flex !important;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.dialog-btn-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.yes-dialog-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  float: right;
  transition: 0.4s;
}
.yes-dialog-btn:hover {
  background-color: #42A948;
}

.no-dialog-btn {
  display: flex;
  align-items: center;
  justify-items: center;
  text-decoration: none;
  background-color: darkred;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
  float: right;
  transition: 0.4s;
}
.no-dialog-btn:hover{
  background-color: red;
}
