<div class = "container">
  <h2>Edit tool</h2>

  <div class = "container-tool">
    <div>
      <div class = "delete-photo-container">
        <img *ngFor = "let photo of tool?.photos" src = "{{photo.photoSmall}}" alt = "" (click) = "openDialog(photo)">
        <div class = "delete-photo-break"></div>
        <div >
          <p>click on image to delete</p>
        </div>
      </div>
    </div>
    <div class = "add-photo-container">
      <form (ngSubmit)="onPhotoSubmit()">
        <input type = "file" name = "" id = "" multiple (change)="fileEvent($event)" accept = "image/*">
        <button type = "submit">
          <mat-icon>add_photo_alternate</mat-icon>
          Add photos
        </button>
      </form>
    </div>
    <hr>
    <form class = "editToolForm" (ngSubmit) = "onDataSubmit()" [formGroup] = "editTool">
      <label>Title:
        <div *ngIf = "!editTool.controls.title.valid && editTool.controls.title.touched" class = "tooltip">
          <small class = "text-danger">
            <strong class = "warning">Warning:</strong> Title must be entered
          </small>
        </div>
      </label>
      <input formControlName = "title" required placeholder = "Tool title" type = "text">

      <label>Category:
        <div *ngIf = "!editTool.controls.category.valid && editTool.controls.category.touched" class = "tooltip">
          <small class = "text-danger">
            <strong class = "warning">Warning:</strong> Category must be entered
          </small>
        </div>
      </label>
      <input formControlName = "category" required placeholder = "Tool category" type = "text">

      <label>Price:</label>
      <input formControlName = "price" required placeholder = "0" type = "number" min = "1">

      <label>Quantity:</label>
      <input formControlName = "quantity" required placeholder = "0" type = "number" min = "1">

      <label>Description:</label>
      <textarea cols = "30" formControlName = "description" id = "" rows = "15" required = "">
      </textarea>

      <div>
        <button type = "submit" [disabled] = "!editTool.valid">
          <mat-icon>
            save
          </mat-icon>
          SAVE
        </button>
        <button type = "reset" (click) = "resetForm()">
          <mat-icon>delete_sweep</mat-icon>
          CLEAR
        </button>
        <button type = "button" routerLink = "/admin"><mat-icon>clear</mat-icon> CANCEL</button>
      </div>
    </form>
    <!--    {{tool.title}} | {{editTool.controls.title.value}}<br>-->
    <!--    {{tool.category}}<br>-->
    <!--    {{tool.price}}<br>-->
    <!--    {{tool.quantity}}<br><br>-->
    <!--    {{tool.description}}-->
  </div>
</div>

