*{
  margin: 0;
  padding: 0;
}
form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
fieldset{
  padding: 15px;

}
legend{
  text-align: center;
  padding: 0 15px;
}

.form-field{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

input[type=text], input[type=password]{
  width: 80%;
  padding: 12px;
  border: none;
  background-color: #c5c5c5;
  border-radius: 5px;
  resize: vertical;
  margin: 0 auto;
}

.form-buttons{
  margin-top: 15px;
}

.button.button-login{
  display: flex;
  align-items: center;
  background-color: green;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  float: right;
}
.button.button-cancel{
  display: flex;
  align-items: center;
  background-color: darkred;;
  color: white;
  padding: 12px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  float: right;
}
