<div class = "nav-container">
  <div class = "logo-container">
    <a routerLink = "/home" (click) = "dropClose()" (mouseenter) = "dropClose()"><h3>GTA Tools</h3></a>
  </div>
  <ul>
    <li><a routerLink = "/home" (click) = "dropClose() ;refresh()" (mouseenter) = "dropClose()">Home</a></li>
    <li class = "dropdown">
      <a class = "dropbtn" (click) = "dropToggle()">Categories</a>

      <div class = "dropdown-content" [ngClass] = "(dropdownToggler) ? 'dropdown-show' : 'dropdown-hide'">
        <a [routerLink] = "['/home']" (click) = " setTitle('GTA Tools - Home') ;dropToggle() ;refresh()">All tools</a>
        <a *ngFor = "let category of categories" [routerLink] = "['/home']"
           [queryParams] = "{ category: category }" (click) = "dropToggle(); setTitle(category);">{{category}}</a>
      </div>

    </li>
    <li><a routerLink = "/contacts" (click) = "dropClose()" (mouseenter) = "dropClose()">Contacts</a></li>
    <li *ngIf = "!(token)"><a (click) = "dropClose(); openDialog()" (mouseenter) = "dropClose()">Login</a></li>
    <li *ngIf = "token" routerLinkActive = "active" (click) = "dropClose()" (mouseenter) = "dropClose()"><a
      *ngIf = "user" routerLink = "/admin">User: {{user?.username}}</a>
    </li>
    <li *ngIf = "token" routerLinkActive = "active" (click) = "dropClose() ;logout()" (mouseenter) = "dropClose()">
      <a><span>Log out</span></a></li>
  </ul>
  <!--  <div class = "search-container">-->
  <!--    <input class = "search-input" type = "text" placeholder = "Search">-->
  <!--    <button class = "btn-search">Search</button>-->
  <!--  </div>-->
</div>
