<div class = "nav-container">
  <div class = "logo-container">
    <a routerLink = "/home"><h3>GTA Tools</h3></a>
  </div>
  <ul>
    <li><a routerLink = "/home">Home</a></li>
    <li><a routerLink = "/contacts">Contacts</a></li>
    <li *ngIf="!(token)"><a (click)="openDialog()">Login</a></li>
    <li *ngIf="token" routerLinkActive="active"><a *ngIf="user" routerLink = "/admin">User: {{user?.username}}</a></li>
    <li *ngIf="token" routerLinkActive="active" (click)="logout()"><a><span>Log out</span></a></li>
  </ul>
  <div class = "search-container">
    <input class = "search-input" type = "text" placeholder = "Search">
    <button class = "btn-search">Search</button>
  </div>
</div>

<!--<div class = "nav-small">-->
<!--  <div class = "nav-small-logo">-->
<!--    <a routerLink = "/home"><h3>GTA Tools</h3></a>-->
<!--  </div>-->
<!--  <button class = "nav-small-btn" mat-button [matMenuTriggerFor] = "menu">Menu</button>-->
<!--</div>-->


<!--<mat-menu #menu = "matMenu">-->
<!--  <button mat-menu-item routerLink = "/home">Home</button>-->
<!--  <button mat-menu-item routerLink = "/contacts">Contacts</button>-->
<!--  <button mat-menu-item routerLink = "/about">About</button>-->
<!--  <button mat-menu-item routerLink = "/admin">Admin</button>-->
<!--  <button mat-menu-item [matMenuTriggerFor] = "categories">Categories</button>-->
<!--</mat-menu>-->

<!--<mat-menu #categories = "matMenu" >-->
<!--  <a *ngFor = "let categorie of categories" [routerLink] = "['/home']" [queryParams] = "{ category: categorie }">{{categorie}}</a>-->
<!--</mat-menu>-->

